/*
Name: Sunia Rizwan
Date: 4/14/2026
Description: Css Stylesheet Design for the site's home page | Final Project
*/

/*media query for large screen sizes*/
@media only screen and (min-width: 1000px){

    main{
        flex-direction: row;
    }
}

/*media query for medium screen sizes*/
@media only screen and (min-width: 800px){
    html{
    background: url("../images/hearts.png") repeat;
    background-size: 17%;
    }
    body{
        margin: auto;
        width: min(70%, 1024px);
    }
    header{
        
        text-align: left;
        & h2{
            padding-right: 10%;
        }
    }

    main{
        flex-direction: row;
    }

    section{
        flex-basis: auto;
        height: fit-content;
        order: 1;
    }

    aside{
        order: 2;
        width: fit-content;
        height: fit-content;
    }
}


*{
    margin: 2;
	padding: 0;
	box-sizing: border-box;
}

/*Specifications for small screen sizes (no media query)*/

body{
    font-family: sans-serif;
    background-color: white;  
    border: 3px solid black;
    
    font-size: calc(100% + .5vw);
    line-height: calc(100% + .5vw);
}

main{
    display: flex;
    flex-direction: column;
}


section{
    flex-basis: 140%;
    order: 1;

    & a:link, a:visited{
        color: red;
    }
}

aside{
    background-color: red;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    flex-basis: 60%;
    width: fit-content;
    height: fit-content;
    order: 2;
}

nav{
    flex-basis: 35%;
    height: fit-content;
    padding-right: 1.35%;
    
}

img{
    float:center;
    margin-left: 19%;
    max-width: 60%;
    min-width: 40px;
    height: auto;
    
}
/*
audio{
    margin-left: 25%;
}
    */

header{
    border-bottom: 2px solid black;
    padding-top: .5em;
    text-align: center;
    background-image: linear-gradient(45deg, Red, cyan, orange, blue, purple, green, yellow 97%);

    

    h1{
        color: white;
    }

    
}





h1{
    clear: left;
    font-size: xx-large;
    padding-left: .5em;
}
h2{
    font-size: large;
    border-bottom: 2px solid black;
}
h3{
    font-size: larger;
    padding-left: 7%;
}

p, h2{
    padding-left: .9em;
}


a:link, a:visited{
    color:white;
    font-weight: bold;
}

a:hover, a:focus{
    color: white;
}

ul{
    padding-left: 10%;
    line-height: 1.0;
}

footer{
    border-top: 2px solid black;
    text-align: center;
    font-size: small;
}